#field1{
    padding: 10px 20px 0px 20px;
}
#field2{
    padding: 10px 20px 0px 20px;
}
.leg{
    margin-top: -35px;
    padding: 10px;
}
.lab{
    background-color: rgb(254, 252, 250);
}
#butt{
    margin: 10px 0px 10px;
}
#typeC{
    margin-left: 49px;
}
#NumC{
    margin-left: 25px;
}
#date{
    margin-left: 40px;
}
#code{
    margin-left: 110px;
}
#Email{
    margin-left: 12px;
}
#nom{
    margin-left: 15px;
}